.cards{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 60px;
}

.containerLoading{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

@media (max-width: 1500px) {
  .cards {
    grid-template-columns: repeat(2, 1fr); /* Cuando el ancho del viewport es 800px o menos, cambia a 2 columnas */
  }
}

@media (max-width: 1100px) {
  .cards {
    grid-template-columns: repeat(1, 1fr); /* Cuando el ancho del viewport es 600px o menos, cambia a 1 columna */
  }
}
