.container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    position: relative;
}

.container::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('https://images6.alphacoders.com/130/1308741.jpg');
    background-size: cover;
    filter: blur(1px);
    z-index: -1;
}

.form {
    max-width: 650px; 
    width: 80%; 
    margin: 80px auto 0; 
    padding: 40px;
    border-radius: 30px; 
    background-color: #dbe9e9;
    text-align: center;
    border: 2px solid #2f695c;
}

.form h1 {
    margin-bottom: 20px; 
    font-size: 2.5rem; 
    color: #2f695c;
    font-family: 'Lobster', cursive;
}


.send {
    background-color: #ff9500;
    color: white;
    width: 150px; 
    height: 40px; 
    border-radius: 10px;
    font-size: 1rem; 
    margin: 20px auto;
    transition: all 0.3s ease;
}

.send:hover {
    background-color: #d67d00;
}

.send:disabled {
    background-color: gray;
    color: #dbe9e9;
    cursor: auto;
}

.field {
    width: 90%; 
    margin-bottom: 15px;
    padding: 10px;
    border-radius: 10px;
    font-size: 1rem;
    border: 2px solid #2f695c; 
}

.error {
    color: #ff0000;
    font-size: 0.9rem; 
    margin: 5px 0;
}

label {
    font-size: 1rem;
    color: #1f1f1f;
}
