.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; /* Centra horizontalmente los elementos */
}

.formWrapper {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Fondo negro transparente */
  border-radius: 10px;
  padding: 20px;
  box-sizing: border-box;
}

.formContainerL {
  flex: 0 0 50%; /* Toma el 50% del espacio disponible */
  padding-right: 20px; /* Espacio entre los contenedores */
}

.formContainerL p {
  text-align: center; /* Centra el texto */
}

.formSection {
  margin-bottom: 20px; /* Espacio entre los divs de creación de plato */
}

.formContainerR {
  flex: 0 0 50%; /* Toma el 50% del espacio disponible */
  padding-left: 20px; /* Espacio entre los contenedores */
}

.label {
  margin-bottom: 5px;
  font-weight: bold;
}

.inputField {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

.addButton {
  padding: 8px 15px;
  border: none;
  border-radius: 7px;
  background-color: #007bff;
  color: white;
  cursor: pointer;
  min-width: 100px;
}

.error {
  color: red;
  margin-top: 5px;
}

.ingredientList {
  margin-top: 10px;
  list-style-type: none;
  padding: 0;
}

.ingredientListItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 5px;
}

.deleteButton {
  background-color: #c21707;
  color: white;
  border: none;
  border-radius: 10px;
  padding: 5px 15px;
  cursor: pointer;
}

.deleteButton:hover {
  background-color: #db2615;
}

.textArea {
  width: 100%;
  resize: none;
  height: 150px;
}

.submitButton {
  padding: 13px 20px;
  border: none;
  border-radius: 10px;
  background-color: #2F695C; /* Cambio de color al del navbar y footer */
  color: white;
  cursor: pointer;
  margin-left: 45vh;
  margin-block-end: 10px;
  
}

.submitButton:hover {
  background-color: #005732;
}

.submitButton:disabled {
  background-color: #474747;
  cursor: no-drop;
}
