
.containerMenu {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 80px;
  background-color: rgba(47, 105, 92, 0.41);
  width: 100%;
}

.title {
  margin-left: 40px;
  font-size: 30px;
  color: white;
}

.options {
  display: block;
  justify-content: end;
  font-size: 25px;
  font-weight: bolder;
  padding: 20px;
  text-decoration: none;
  color: white;
}

.options:hover{
  transition: 0.5s ease;
  background-color: #2F695C;
}

.close {
  font-size: 25px;
  font-weight: bolder;
  justify-content: flex-end ;
  display: block;
  padding: 20px;
  text-decoration: none;
  color: rgb(198, 12, 12);
}

.close:hover{
  transition: 0.5s ease;
  background-color: rgba(222, 11, 11, 0.742);;
  color: whitesmoke;
}